params {
    // Assembler choice
    assembly = 'megahit'

    // Container paths
    containers {
        fastp      = "/home/luiszuniga/work/containers/staphb_fastp_v0.23.4.sif"
        fastqc     = "/home/luiszuniga/work/containers/FastQC_v0.12.1.sif"
        multiqc    = "/home/luiszuniga/work/containers/multiqc_v1.27.sif"
        megahit    = "/home/luiszuniga/work/containers/megahit_v1.2.9.sif"
        spades     = "/home/luiszuniga/work/containers/SPAdes_v4.0.0.sif"
        minimap2   = "/home/luiszuniga/work/containers/minimap2_v2.28-r1209.sif"
        samtools   = "/home/luiszuniga/work/containers/samtools_v1.21.sif"
        concoct    = "/home/luiszuniga/work/containers/concoct_v1.1.0.sif"
        metabat    = "/home/luiszuniga/work/containers/metabat_v2.17.sif"
        metabinner = "/home/luiszuniga/work/containers/metabinner_v1.4.4.sif"
        checkm2    = "/home/luiszuniga/work/containers/checkm2_v1.0.2.sif"
        prokka     = "/home/luiszuniga/work/containers/prokka.sif"
        kofamscan  = "/home/luiszuniga/work/containers/KOfamscan_v1.3.0.sif"
        quast      = "/home/luiszuniga/work/containers/QUAST_v5.3.0.sif"
        dastool    = "/home/luiszuniga/work/containers/dastool_1.1.7.sif"
        gtdbtk     = "/home/luiszuniga/work/containers/gtdbtk/gtdbtk_2.4.0.sif"
    }
    // Tool parameters
    concoct_threads   = 26
    concoct_clusters  = 5
    concoct_read_len  = 250
    checkm2_threads   = 16
    metabinner_threads = 16
    kofamscan_threads  = 2
    prokka_threads     = 4
}
singularity {
    enabled = true
    autoMount = true
    runOptions = '--bind /home/luiszuniga/self/MAG:/workspace'
    executable = '/usr/bin/bin/singularity'
}
